
.portlets-edit-mode .portlets-item-hover {
	box-shadow: 0 0 0 1px white inset, 0 0 4px 2px green inset;
	outline: 1px solid green\0/ !important;


	transition-delay: 0.25s;
	-moz-transition-delay: 0.25s;
	-webkit-transition-delay: 0.25s;
	transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
}



.portlets-edit-mode .bab-portlet-container.portlets-locked.portlets-item-hover {
	box-shadow: 0 0 0 1px white inset, 0 0 4px 2px red inset;
	outline: 1px solid red\0/ !important;
}

.portlets-edit-mode .bab-portlet-container {
	box-shadow: 0 0 0 1px white inset, 0 0 4px 2px green inset;
	outline: 1px solid green\0/ !important; /* IE 8-9 */
}

.portlets-edit-mode .bab-portlet-container.portlets-locked {
	box-shadow: 0 0 0 1px white inset, 0 0 4px 2px red inset;
	outline: 1px solid red\0/ !important; /* IE 8-9 */
}



.portlet-toolbar {
    display: none;
}

.portlets-edit-mode .portlet-toolbar {
    display: block;
}

/*
.portlets-edit-mode .portlet-frame {
	border: #bbb 1px solid;
}

.portlets-edit-mode .portlet-frame:hover {
	border: #333 1px solid;
}

.portlets-sortable.ui-sortable-disabled .portlet-frame, 
.portlets-sortable.ui-sortable-disabled .portlet-frame:hover {
    border: medium none;
}
*/

.portlets-button {
	box-sizing: border-box;
	width:16px;
	height:16px;
	padding: 10px;
	cursor: pointer;
}

.portlets-hoverbutton {

	position: absolute;
	top: -23px;
	left: 0;
	display: block;
	margin: 0;
	
	border: 1px solid #fff;
	border-bottom-width: 2px;
	
	border-radius: 6px;
}


.bab-portlet-container .portlets-button:hover {
	border-color: #8c8;
}
.bab-portlet-container.portlets-locked .portlets-button:hover {
	border-color: #c77;
}
.bab-portlet-container .portlets-button {
	z-index: 100000;
	background-color: #8c8;
}
.bab-portlet-container.portlets-locked .portlets-button {
	background-color: #c77;
}
.portlets-staticbutton {
	
	
	position:inherit;

	box-shadow: 0 0 2px #444;
	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	margin: 1px 4px;
	
	display: -moz-inline-stack;
	display: inline-block;
	
	vertical-align:middle;
}


/* edit portlets in a container */
.portlets-edit {
	background:#eee url(list-add.png) no-repeat 2px 2px;
}

/* load dockable frame for the first time */
.portlets-loading {
	background:#ddd url(grey-ajax-loader.gif) no-repeat 50% 50%  !important;
}

/* Lock portlets in a container */
.portlets-lock {
	background:#eee url(locked.png) no-repeat 2px 2px;
}

/* Unlock portlets in a container */
.portlets-unlock {
	background:#eee url(locked.png) no-repeat 2px 2px;
}

/* add article in topic */
.portlets-add {
	background:#eee url(magic.png) no-repeat 2px 2px;
}

/* topic management */
.portlets-man {
	background:#eee url(topic.png) no-repeat 2px 2px;
}


.portlet-search-layout-item {
	width: 33.33%;
	min-width: 250px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.portlet-definition {
	padding:.4em .6em;
	border:#ccc 1px solid;
	background:#fff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:52px;
/*	width: 246px; */

	cursor:pointer;
}

.portlet-definition img {
	/*height:16px;*/
}


.portlet-frame-helper {
	display: block !important;
	width: 100% !important;
	min-height: 50px !important;
	margin: 0;
	border: rgba(32, 28, 8, 0.35) 2px solid;
	background-color: rgba(255, 224, 64, 0.35);

	max-height: 200px;
	padding: 0;
	box-shadow: 0 6px 14px rgba(0,0,0,0.75);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


.portlet-frame {
	margin:0 0 2em 0;
	padding: 0;
}




/* portlet loading : the same as portlet-frame but only during loading time */
.portlet-loading {
	
	margin:.5em 0;
	border:#bbb 1px solid;
	padding:0;
	
	min-height:100px;
	background:#fff url(ajax-loader.gif) no-repeat 50% 50%;
}

.portlet-frame .preferences-loading {
	min-height:50px;
	background-image: url(grey-ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.portlet-toolbar {
	margin: 0;
	background-color: #eee;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 2px;
	position: relative;
}
.portlets-edit-mode .bab-portlet-container.portlets-sortable .portlet-frame:hover .portlet-toolbar {
	cursor: move;
	background-color: #ddd;	
	background-color: rgba(0, 0, 0, 0.3);
}

.portlet-toolbar h4 {
	font-size:.8em;
	color:#666;
	color:rgba(0, 0, 0, 0.7);
	padding:1px 0 1px 4px;
	margin:0;
}



.portlet-toolbar .portlet-buttons {
	position:absolute;
	top: 0px;
	right: 0px;
}
.portlet-toolbar button {
	width:20px;
	height:20px;
	margin-left: 4px;
	cursor: pointer;
	border:none;
	border-radius: 50%;
}


.portlet-frame button {
/*	opacity: 0;*/
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	box-shadow: 0 0 1px #000;
	background-color: #eee;
}
/*
.portlet-frame:hover button {
	opacity: 0.75;
}
*/
.portlet-toolbar button {
	display: none;
}
.portlets-edit-mode .portlet-frame:hover .portlet-toolbar button {
	background-color:#fff;
	display: inline-block;
}



.portlet-close {
	background:transparent url(window-close.png) no-repeat 50% 50%;	
}
.portlet-edit-settings {
	background:transparent url(settings.png) no-repeat 50% 50%;
}




.portlet-edit-settings-frame {
	padding:.5em;
	border-top:#ccc 1px solid;
	background:#ddd;
	border-bottom:#ccc 1px solid;
	color: #333;
}



.bab-portlet-container {
	position: relative;
}
.portlets-edit-mode .bab-portlet-container.portlets-configurable {
	min-height: 48px;
}

/*
.bab-portlet-container.portlets-configurable.portlets-empty {
	background-color: #fafafa;
    border: 1px dotted #aaa;
}
*/


.bab-portlet-container .ui-sortable-placeholder {
	border: 2px dashed orange;
	height: 40px; 
	background: #fe8;
	display: block;
}
/*
.portlet-frame {
	-moz-transition: -moz-transform 0.5s;
}
*/
.portlet-frame.ui-sortable-helper {
	background: #fff;
	opacity: 0.7;
	-moz-transform: scale(0.5);
	-moz-transform-origin: top center;
}



.portlet-content {
	overflow: hidden;
}

/*
.portlets-edit-mode .portlet-content {
	overflow: visible;
}
*/

/* ADMINISTRATION */
.portlets-admin-definition-frame {
	padding: 0.5em 1em;
}


.portlets-admin-form {
	width: 90%;
	margin: 0 auto;
}

.portlets-admin-form .widget-section .widget-section-content {
	border: 1px solid #eee;
	padding: 0;
}



.portlet-search-form {
	
	background-color: #eee;
	
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -ms-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	background-image: linear-gradient(top,#fff,#eee);
	
	
	font-weight:bold;
	color:#000;
	
	margin:.2em auto;
	padding: 1em 0 0 1em;
	
	
}

.portlet-search-form input,
.portlet-search-form select {
	width:100%;
}



.portlet-search-results {
	min-height:100px;
	background:transparent url(ajax-loader.gif) no-repeat -100px -100px;
}


.portlet-search-loading {
	background-position:50% 50%;
}


.portlet-preferences-form {
	margin:1em;
}

#portlets-add-category{
	background: none repeat scroll 0 0 #EFEBBB;
	border: 1px solid #8F8B4B;
	border-radius: 4px 4px 4px 4px;
	color: #000000;
	margin: 0.2em;
	padding: 0 0 1em .25em;
}

.thin-column{
	width: 0;
}

.portlet-definition:hover{
	background-color: #dde;
}

.portlet-result-table{
	padding: 10px 0 0 10px;
}

.widget-dockable-frame .open .widget-dockable-content {
	overflow: hidden;
}

.widget-dockable-frame .open .widget-dockable-content {
	overflow: hidden;
}

.portlet-empty-result-spot {
	width: 233px;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.portlet-result-table .portlet-title {
	font-weight: bold;
	font-size: 8.5pt;
}

.portlet-result-table .portlet-description {
	font-size: 8pt;
	color: #555;
	line-height: 1.4em;
	max-height: 2.8em;
	overflow: hidden;
	display: inline-block;
}






.portlets-toggle-edit-mode:not(.widget-actionbutton) {
    -moz-box-sizing: border-box;
    box-sizing: border-box;

	color: rgba(0,0,0,0);
    background: url('edit-active.png') no-repeat scroll center center #fff;
    
    border-radius: 0 75% 0 0;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    
    position: fixed;
	bottom: 0;
	left: 0;
    
    text-align: center;
    height: 28px;
    width: 28px;
    line-height: 28px;
    
    cursor: pointer;
	box-shadow: 0 0 4px #000;
}
.portlets-edit-mode .portlets-toggle-edit-mode:not(.widget-actionbutton) {
	background-color: #000;
}
.portlets-toggle-edit-mode:not(.widget-actionbutton):hover {
	box-shadow: 0 0 8px #000;
	height: 32px;
    width: 32px;
    line-height: 32px;
}

.portlets-edit-mode .portlet-frame {
	box-shadow: 0 0 1px;
	box-shadow: 0 0 1px inset;
}


.portlets-container-placeholder,
.portlets-container-editplaceholder {
	display: none;	
}
.portlets-empty .portlets-container-placeholder {
	display: block;	
	color: rgba(0,0,0,0.25);
	line-height: 48px;
	font-size: 110%;
	text-align: center;
}

.portlets-edit-mode .portlets-empty .portlets-container-placeholder {
	display: none;	
}
.portlets-edit-mode .portlets-empty .portlets-container-editplaceholder {
	display: block;	
	color: rgba(0,0,0,0.25);
	line-height: 48px;
	font-size: 110%;
	text-align: center;
}

.portlets-container-description {
	display: none;	
}

.portlets-edit-mode .portlets-container-description {
	background-color: rgba(0, 160, 0, 0.3);
    color: #000000;
    display: block;
    margin: 1px;
    padding: 0.5em;
    text-align: center;
}

.portlets-edit-mode .portlets-container-description:empty {
	display: none;
}

.portlets-edit-mode .portlets-locked .portlets-container-description {
	background-color: rgba(160, 0, 0, 0.3);
}


.portlets-container-25pc,
.portlets-container-33pc,
.portlets-container-40pc,
.portlets-container-50pc,
.portlets-container-60pc,
.portlets-container-66pc,
.portlets-container-100pc {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	display: inline-block;	
}

.portlets-container-25pc {
	width: 25%;
}

.portlets-container-33pc {
	width: 33.333%;
}

.portlets-container-40pc {
	width: 40%;
}

.portlets-container-50pc {
	width: 50%;
}

.portlets-container-60pc {
	width: 60%;
}

.portlets-container-66pc {
	width: 66.666%;
}

.portlets-container-100pc {
	width: 100%;

}


.bab-portlet-container > .portlet-frame,
.bab-portlet-container > .ui-sortable-placeholder {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;	
	display: inline-block;
	width: 100%;
}
.portlets-container-2col > .portlet-frame,
.portlets-container-2col > .ui-sortable-placeholder {
	width: 50%;
}
.portlets-container-3col > .portlet-frame,
.portlets-container-3col > .ui-sortable-placeholder {
	width: 33.333%;
}
.portlets-container-4col > .portlet-frame,
.portlets-container-4col > .ui-sortable-placeholder {
	width: 25%;
}
.portlets-container-5col > .portlet-frame,
.portlets-container-5col > .ui-sortable-placeholder {
	width: 20%;
}

.widget-dockable-content{
	overflow: auto !important;	
}




.portlet-container-item {
	display: block;
}


/*
.bab-portlet-container.cols-4,
.bab-portlet-container.cols-3,
.bab-portlet-container.cols-2,
.bab-portlet-container.cols-1 {
    margin: -1em !important;
}
.bab-portlet-container.cols-4 .portlet-container-item,
.bab-portlet-container.cols-4 .ui-sortable-placeholder,
.bab-portlet-container.cols-3 .portlet-container-item,
.bab-portlet-container.cols-3 .ui-sortable-placeholder,
.bab-portlet-container.cols-2 .portlet-container-item,
.bab-portlet-container.cols-2 .ui-sortable-placeholder,
.bab-portlet-container.cols-1 .portlet-container-item,
.bab-portlet-container.cols-1 .ui-sortable-placeholder {
    display: inline-block !important;
    box-sizing: border-box !important;
    vertical-align: top !important;
    padding: 1em !important;
    overflow: hidden;
}


.bab-portlet-container.cols-4 .portlet-container-item,
.bab-portlet-container.cols-4 .ui-sortable-placeholder {
    width: 25% !important;
}

.bab-portlet-container.cols-3 .portlet-container-item,
.bab-portlet-container.cols-3 .ui-sortable-placeholder {
    width: 33.33% !important;
}


.bab-portlet-container.cols-2 > .portlet-container-item,
.bab-portlet-container.cols-2 > .ui-sortable-placeholder {
    width: 50% !important;
}

@media (max-width: 600px) {
	.bab-portlet-container.cols-4 .portlet-container-item,
	.bab-portlet-container.cols-4 .ui-sortable-placeholder,
	.bab-portlet-container.cols-3 .portlet-container-item,
	.bab-portlet-container.cols-3 .ui-sortable-placeholder,
	.bab-portlet-container.cols-2 > .portlet-container-item,
	.bab-portlet-container.cols-2 > .ui-sortable-placeholder {
	    width: 100% !important;
	}
}
*/
